.form {
    background: #fff;
    border: 1px solid #eee;
    padding: 25px 20px;
}

.info_form {
    margin-top: 15px !important;
    width: 50vw;
}

.info_form .wallet_address,
.req-type label {
    color: #9b1fe9;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
}

.input_Wall {
    display: inline-flex;
    margin-right: 10px !important;
    width: 100%;
}

.input_Wall input {
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 5px !important;
    outline: none;
    padding: 10px;
    width: 100%;
}

#Request_Type {
    margin-top: 10px !important;
}

.req-type .inputFields {
    display: flex;
}

.inputFields .left_Input {
    display: inline-flex;
    margin-right: 15px !important;
    width: 100%;
}

.left_Input input {
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 5px !important;
    outline: none;
    padding: 10px;
    width: 100%;
}

.rightInput {
    display: inline-flex;
    width: 100%;
}

.rightInput input {
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 5px !important;
    outline: none;
    padding: 10px;
    width: 100%;
}

.req-button {
    margin-top: 15px !important;
}

.req-button button {
    background: #9b1fe9;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: capitalize;
}